@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  max-width: 144rem;
}

h1 {
  font-size: 2.4rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: block;
}

/* HEADER */
header {
  background-color: #E6F0FF;
  padding: 3.8rem 16.5rem 0;
}

nav {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  margin-left: 6.45rem;
}

.nav-menu-item:not(:first-of-type) {
  margin-left: 3rem;
}

.nav-menu-item a {
  color: #4F5361;
  font-weight: 500;
}

.nav-buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.nav-buttons-sign-up {
  color: #0F1B4C;
  font-weight: 500;
}

.nav-buttons-register {
  width: 9.8rem;
  height: 4rem;
  background-color: #0F1B4C;
  border-radius: 0.8rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1.8rem;
  font-weight: 500;
}

.header-contents {
  display: flex;
}

.header-contents-text {
  margin-top: 13rem;
}

.header-contents-text-welcome {
  font-size: 1.8rem;
  color: #687690;
  font-weight: 500;
  letter-spacing: 0.18px;
}

.header-contents-text-title {
  margin-top: 0.8rem;
  color: #000336;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 7.6rem;
}

.header-contents-text-des {
  color: #5A6473;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.2rem;
  margin-top: 3rem;
}

.header-contents-image {
  margin-left: auto;
  margin-top: 3.9rem;
  position: relative;
  left: 10rem;
}

.header-contents-text-button {
  width: 17rem;
  height: 5rem;
  border-radius: 1.2rem;
  background: #0F1B4C;
  color: #fff;
  font-weight: 500;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}